.loader {
	width : 21px;
	height: 21px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	animation: rotation 1s linear infinite;
}

.loader:after , .loader:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background: #d36c27;
	width: 7px;
	height: 7px;
	transform: translate(-50%, 50%);
	border-radius: 50%;
}

.loader:before{
	left: auto;
	right: 0;
	background: #adb5d8;
	transform: translate(50%, 100%);
}

@keyframes rotation {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}