.file {
	display: flex;
	margin-top: 16px;
	height: 64px;
}
.file_item {
	position: relative;
	height: 33px;
	margin-right: 32px;
	width: 111px;
}
.file_input {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 33px;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
/* .file_input::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 111px;
	min-height: 33px;
	background-color: transparent;
	cursor: pointer;
	opacity: 0;
} */
.file_cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.file_button {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 33px;
	border-radius: 4px;
	background-color: rgb(214, 199, 226);
	padding: 0 20px;
	width: 111px;
	cursor: pointer;
}
.file_preview {
	display: inline-block;
	position: relative;
	height: 64px;
	width: 100px;
	margin-right: 32px;
	border: 1px solid #adb5d8;
	border-radius: 2px;
}
.file_preview img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
.status_span {
	display: inline-block;
	margin-top: 5px;
	font-size: 18px;
}
.file_name {
	display: flex;
	align-items: center;
}
.clear_file {
	display: flex;
	align-items: center;
	position: relative;
}
.clear_file_item {
	position: absolute;
	top: 50%;
	left: 40px;
	height: 16px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transform: translateY(-50%);
}
.clear_file_image {
	width: 12px;
	height: 12px;	
}
.clear_file_text {
	color: rgb(228, 96, 96);
	padding-left: 8px;
}