.create_type {
	width: 480px;
	padding: 24px;
}
.type__form {
	display: flex;
	flex-direction: column;
}
.form__item {
	margin-bottom: 32px;
}
.form__item input {
	height: 32px;
	font-size: 16px;
	padding: 0 24px 4px 0;
	border: none;
	border-bottom: 1px solid #cacaca;
	border-radius: 0;
}
.input__label {
	display: flex;
	flex-direction: column;
}
.input__heading {
	font-size: 14px;
	color: #666;
	margin-bottom: 8px;
}
.file {
	display: flex;
	margin-top: 16px;
	height: 64px;
}
.file_item {
	position: relative;
	height: 33px;
	margin-right: 32px;
}
.file_input {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 33px;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file_input::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 111px;
	min-height: 33px;
	background-color: transparent;
	cursor: pointer;
	opacity: 0;
}
.file_button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 33px;
	border-radius: 4px;
	background-color: rgb(214, 199, 226);
	padding: 0 20px;
	width: 111px;
}
.file_preview {
	display: inline-block;
	position: relative;
	height: 64px;
	width: 100px;
	margin-right: 32px;
}
.file_preview img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: absolute;
	top: 0;
	left: 0;
}
.status_span {
	display: inline-block;
	margin-top: 5px;
	font-size: 18px;
}
.file_name {
	display: flex;
	align-items: center;
}
.button__row {
	display: flex;
	align-items: center;
	margin-top: 8px;
}