.table {
	margin-bottom: 24px;
}
.table h2 {
	margin-bottom: 18px;
}
.table__row {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}
.columns__row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(80px, auto);
	grid-gap: 10px;
}