.chapter h2 {
	font-size: 32px;
	line-height: 32px;
	padding: 32px 0;
}
.chapter__row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: minmax(80px, auto);
	grid-gap: 10px;
}
.loader_wrapper {
	width: 100%;
	height: 50px;
}