.type_filter {
	/* display: inline-block; */
	display: flex;
	height: 40px;
}
.search_item {
	position: relative;
	margin-right: 24px;
}
.search_input {
	width: 320px;
	height: 40px;
	border: 1px solid #fff;
	border-bottom: 1px solid #adb5d8;
	font-size: 18px;
	padding: 6px 6px 0;
}
.reset_button {
	position: absolute;
	top: 6px;
	right: 6px;
	border: 0px;
	padding: 8px;
	display: flex;
	align-items: center;
}
.reset_button img {
	height: 12px;
}
.search_button {
	height: 32px;
	width: 64px;
	margin-top: 8px;
	cursor: pointer;
	border: 1px solid #adb5d8;
}
