.change_user {
	width: 480px;
}
.row {
	display: flex;
	flex-direction: column;
}
.info {
	display: flex;
	margin-bottom: 32px;
}
.email {
	margin-right: 48px;
}
.heading {
	color: #666;
	font-size: 14px;
	margin-bottom: 4px;
}
.text {
	font-size: 20px;
	letter-spacing: 1px;
}
.current_role {}
.change_form {
	
}
.form__item {
	margin-bottom: 38px;
}
.input__label {
	display: flex;
	flex-direction: column;
}
.input__heading {
	font-size: 14px;
	color: #666;
	margin-bottom: 8px;
}

.form__item input {
	height: 32px;
	font-size: 16px;
	padding: 0 24px 4px 0;
	border: none;
	border-bottom: 1px solid #cacaca;
	border-radius: 0;
}

.button__row {
	display: flex;
	align-items: center;
	margin-top: 32px;
}

.radiobuttons {
	display: flex;
	flex-direction: column;
}
.radio__row {
	display: flex;
	/* flex-direction: column; */
	margin-top: 8px;
}

