.page h1 {
	text-align: left;
	margin-bottom: 24px;
	display: none;
}

.row {
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}
.list {
	display: flex;
	margin-bottom: 24px;
}
.item {
	font-size: 20px;
	line-height: 20px;
}
.slash {
	margin: 0 8px;
}