.caption {
	font-size: 16px;
	color: #adb5d8;
	margin-bottom: 4px;
}
.caption__row {
	display: flex;
	height: 32px;
	padding: 4px;
	padding-left: 8px;
}
.caption__row span {
	margin-right: 24px;
}
.caption__item {
	display: flex;
	align-items: center;
	height: 24px;
}
.caption__email {
	width: 288px;
}
.caption__createdAt {
	width: 216px;
}
.caption__updatedAt {
}

.loader_wrapper {
	width: 100%;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter_arrows {
	display: flex;
	justify-content: space-between;
	width: 52px;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}
.caption__item:hover .filter_arrows {
	display: flex;
	opacity: 1;
}
.arrow_down {
	width: 24px;
	height: 24px;
}
.arrow_up {
	width: 24px;
	height: 24px;
	transform: rotate(180deg);
}