.card {
	height: 120px;
	padding: 20px 5px 18px;
	box-shadow: rgba(30, 31, 33, 0.12) 0px 5px 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: color 100ms ease 0s, border 100ms ease-out 0s;
	user-select: none;
	cursor: grab;
	border-radius: 4px;
	border: 1px solid #fff;
}
.card:link, .card:visited {
	color: #232323;
}
.card:hover, .card:active {
	color: #d36c27;
}
.card.above {
	border: 1px solid #cbd2ee;
}
.card__img {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	height: 56px;
	/* position: relative; */
}
.card__img img {
	/* width: 100%;
	height: 100%; */
	/* display: inline-block; */
	/* object-fit: contain; */
	/* position: absolute;
	top: 0;
	left: 0; */
}
.card p {
	width: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-transform: capitalize;
	white-space: nowrap;
	/* user-select: none; */
	cursor: pointer;
}