.admin_filter {
	
}
.form__row {
	display: flex;
	flex-direction: column;
}
.search__row {
	display: flex;
	height: 32px;
	margin-bottom: 24px;
}
/* body :focus {
	border: 1px solid red;
} */
.radio__row {
	display: flex;
	flex: 0 0 40%;
}
.buttons__row {
	display: flex;
}
.search_button {
	width: 80px;
	height: 32px;
	margin-right: 64px;
	border: 1px solid #e09664;
	border-radius: 8px;
	cursor: pointer;
}
.reset_button {
	height: 32px;
	border: 1px solid #ccd1eb;
	border-radius: 16px;
}

.add__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
	user-select: none;
	border-radius: 16px;
	border: 1px solid rgb(237, 229, 238);
	background-color: rgb(236, 230, 241);
	transition: all 150ms ease-in-out 0s;
	padding: 8px 15px;
	font-size: 13px;
	cursor: pointer;
}
.add__btn:hover {
	transform: translateY(-1px);
	box-shadow: 4px 4px 14px 0px rgba(34, 60, 80, 0.2);
	color: #232323;
}
