.footer {
	background-color: var(--footer-color);
  display: flex;
  min-height: 160px;
}
.footer__container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer h2 {
	margin-bottom: 16px;
	color: #c2dde7;
}
.footer p {
	color: #d36c27;
}
.footer__row {
	width: 100%;
	height: 100%;
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__leftside {
	display: flex;
	flex-direction: column;
}
.footer__rightside {
	display: flex;
	flex-direction: column;
}
.footer__link:link, .footer__link:visited, .footer__link:hover, .footer__link:active {
	color: #c2dde7;
	margin-bottom: 4px;
}
.right-footer__row {
	display: flex;
}
.right-footer__col {
	display: flex;
	flex-direction: column;
}
.right-footer__col:last-child {
	margin-left: 32px;
}