.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: opacity 0.6s ease 0s, visibility 0.6s ease 0s;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup.open .popup__content {
	opacity: 1;
	transform: perspective(600px) translate(0, 0) rotateX(0);
}

.popup__area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
}
.popup__body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	padding: 32px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
.popup__content {
	background-color: #fff;
	max-width: 800px;
	min-width: 600px;
	padding: 48px 48px;
	position: relative;
	transition: opacity 0.6s ease 0s, transform 0.6s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0, -100%) rotateX(45deg);
	border-radius: 4px;
	pointer-events: auto;
}
.popup__close {
	position: absolute;
	display: inline-block;
	top: 46px;
	right: 40px;
	text-decoration: none;
	cursor: pointer;
}
.popup__close img {
	width: 24px;
	height: 24px;
	padding: 2px;
}
.popup__title {
	font-size: 26px;
	margin-bottom: 44px;
}
.popup__text {
}